# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore logs and build artifacts
logs/
build/

# Ignore OS and editor specific files
.DS_Store
Thumbs.db
.vscode/

# Ignore npm lock files
package-lock.json
yarn.lock
